body { font-family: Arial; margin: 20px; background: #f4f6ff; }
header { text-align: center; margin-bottom: 20px; }
nav a { margin-right: 15px; }
.card { background: white; padding: 15px; margin: 10px; border-radius: 10px; }
.saldo-box { text-align: center; background: #e3eaff; padding: 20px; border-radius: 10px; }
